@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html {
  color-scheme: light;
}

body {
  font-family: 'Pinyon Script', cursive;
  display: flex;
  justify-content: center;
  width: 60%;
  background: radial-gradient(circle at top, #fff8dc, #f5f5dc);
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 20%;
}

#first_button {
  margin: 300px 25%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border-color: #FF9D8A;
}

.celebration {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.balloon,
.balloon-left {
  position: absolute;
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.balloon {
  width: 110px;
  height: 140px;
  background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%);
  border-radius: 60% 60% 55% 55%;
  position: relative;
  margin-bottom: 110px;
  position: absolute;
  bottom: 200px;
  right: 25%;
  transform: rotate(15deg);
  --angle: 15deg;
  z-index: 1;
}

.balloon::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #002f53;
}

/* The balloon string*/
.balloon::after {
  content: '';
  position: absolute;
  bottom: -160px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 160px;
  background-color: black;
}

/* balloon 2 */
.balloon-left {
  width: 110px;
  height: 140px;
  background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%);
  border-radius: 60% 60% 55% 55%;
  position: relative;
  margin-bottom: 160px;
  position: absolute;
  bottom: 200px;
  left: 25%;
  transform: rotate(-15deg);
  --angle: -15deg;
  z-index: 1;
}

/* The balloon knot */
.balloon-left::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #002f53;
}

/* The balloon string */
.balloon-left::after {
  content: '';
  position: absolute;
  bottom: -220px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 220px;
  background-color: black;
}

@keyframes float {
  0%   { transform: translateY(0) rotate(var(--angle)); }
  50%  { transform: translateY(-10px) rotate(var(--angle)); }
  100% { transform: translateY(0) rotate(var(--angle)); }
}

.balloon {
  animation: float 4s ease-in-out infinite;
}

.balloon-left {
  animation: float 5s ease-in-out infinite;
}


h1 {
   margin-top: 50px;
  font-size: 48px;
  letter-spacing: 1px;
}

#heart {
  color: red;
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-top: -10px;
  font-size: 18px;
  opacity: 0.8;
  letter-spacing: 1px;
}

.cake {
  position: relative;
  width: 150px;
  height: 60px;
  background: #FFC3B8;
  border-radius: 5px;
  margin-top: 100px;
  z-index: 2;
  /* in front */
}

.candle {
  position: absolute;
  width: 10px;
  height: 50px;
  background: white;
  top: -50px;
}

.candle:nth-child(1) {
  left: 30px;
}

.candle:nth-child(2) {
  left: 70px;
}

.candle:nth-child(3) {
  left: 110px;
}

.flame {
  width: 10px;
  height: 23px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  animation: flicker 0.50s infinite alternate;
  box-shadow: 0 0 15px orange;
}

.cake2 {
  position: relative;
  width: 220px;
  height: 80px;
  background: #FF9D8A;
  border-radius: 5px;
  z-index: 2; /* in front */
}

.cake3 {
  position: relative;
  width: 290px;
  height: 100px;
  background: #FF775C;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

@keyframes flicker {
  from {
    transform: scale(1);
    opacity: 0.7;
  }

  to {
    transform: scale(1.3);
    opacity: 1;
  }
}

button {
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border-color: orange;
}

#footerRights {
  font-size: 10px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;
}

#copyrightSymbol {
  font-size: 10px;
  padding: 0px;
}


/* mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  .balloon {
    width: 110px;
    height: 140px;
    background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%);
    border-radius: 60% 60% 55% 55%;
    position: relative;
    margin-bottom: 110px;
    position: absolute;
    bottom: 200px;
    right: 15px;
    transform: rotate(15deg);
    z-index: 1;
  }

  .balloon::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #002f53;
  }

  .balloon::after {
    content: '';
    position: absolute;
    bottom: -130px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 130px;
    background-color: black;
  }

  /* balloon 2 */
  .balloon-left {
    width: 110px;
    height: 140px;
    background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%);
    border-radius: 60% 60% 55% 55%;
    position: relative;
    margin-bottom: 160px;
    position: absolute;
    bottom: 200px;
    left: 10px;
    transform: rotate(-15deg);
    z-index: 1;
  }

  .balloon-left::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #002f53;
  }

  .balloon-left::after {
    content: '';
    position: absolute;
    bottom: -180px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 180px;
    background-color: black;
  }
}
