@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Pinyon Script', cursive;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* height: 150vh; */
    width: 60%;
    background: #F5F5DC;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 20%;
    /* background-image: url(../assets/balloons\ desktop.png); */
  }

  #first_button{
    margin: 300px 25%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border-color: #FF9D8A;
  }

  .celebration {
    position: relative;
    width: 300px;  /* adjust to fit your cake + balloons */
    height: 200px; /* same level for balloons and cake */
    margin: 0 auto;
}

.balloon, .balloon-left {
    position: absolute;
    bottom: 0; /* align bottom with cake */
}

  .balloon {
    /* Balloon body styles */
    width: 110px;
    height: 140px;
    background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%); /* Use a gradient for depth */
    border-radius: 60% 60% 55% 55%; /* Rounded top and slightly flatter bottom */
    position: relative; /* Needed to position pseudo-elements relative to the balloon */
    /* margin: 50px auto; */
    /* margin-top: 10px; */
    margin-bottom: 110px;
    position: absolute;
    bottom: 200px;      /* Adjust vertically above the cake */
    right: 25%;        /* Adjust horizontally to the right */
    transform: rotate(15deg); /* Tilt the balloon for a natural angled look */
    z-index: 1; /* behind cake */
}

/* The balloon knot using a pseudo-element */
.balloon::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Position at the bottom center */
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #002f53; /* Match the dark color of the balloon's bottom */
}

/* The balloon string using another pseudo-element */
.balloon::after {
    content: '';
    position: absolute;
    bottom: -160px; /* Adjust length as needed */
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px; /* Very thin line */
    height: 160px;
    background-color: black;
}

/* balloon 2 */
.balloon-left {
    /* Balloon body styles */
    width: 110px;
    height: 140px;
    background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%); /* Use a gradient for depth */
    border-radius: 60% 60% 55% 55%; /* Rounded top and slightly flatter bottom */
    position: relative; /* Needed to position pseudo-elements relative to the balloon */
    /* margin: 50px auto; */
    /* margin-top: 10px; */
    margin-bottom: 160px;
    position: absolute;
    bottom: 200px;      /* Adjust vertically above the cake */
    left: 25%;        /* Adjust horizontally to the right */
    transform: rotate(-15deg); /* Tilt the balloon for a natural angled look */
    z-index: 1; /* behind cake */
}

/* The balloon knot using a pseudo-element */
.balloon-left::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Position at the bottom center */
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #002f53; /* Match the dark color of the balloon's bottom */
}

/* The balloon string using another pseudo-element */
.balloon-left::after {
    content: '';
    position: absolute;
    bottom: -220px; /* Adjust length as needed */
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px; /* Very thin line */
    height: 220px;
    background-color: black;
}

  h1{
    margin-top: 50px;
    font-size: bold;
  }

  #heart{
    color: red;
  }

  h2{
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }

  .cake {
    position: relative;
    width: 150px;
    height: 60px;
    background: #FFC3B8;
    /* border-radius: 5px; */
    margin-top: 100px;
    z-index: 2; /* in front */
  }

  .candle {
    position: absolute;
    width: 10px;
    height: 50px;
    background: white;
    top: -50px;
  }

  .candle:nth-child(1) { left: 30px; }
  .candle:nth-child(2) { left: 70px; }
  .candle:nth-child(3) { left: 110px; }

  .flame {
    width: 10px;
    height: 23px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    animation: flicker 0.15s infinite alternate;
  }

  .cake2{
    position: relative;
    width: 220px;
    height: 80px;
    background: #FF9D8A;
    /* border-radius: 5px; */
    z-index: 2; /* in front */
  }

  .cake3{
    position: relative;
    width: 290px;
    height: 100px;
    background: #FF775C;
    /* border-radius: 5px; */
    z-index: 2; /* in front */
  }

  @keyframes flicker {
    from { transform: scale(1); opacity: 0.7; }
    to { transform: scale(1.3); opacity: 1; }
  }

  button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border-color: orange;
  }

  #footerRights{
    font-size: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
}

#copyrightSymbol{
    font-size: 10px;
    padding: 0px;
}


  /* mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size: 38px;
    }

    .balloon {
    /* Balloon body styles */
    width: 110px;
    height: 140px;
    background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%); /* Use a gradient for depth */
    border-radius: 60% 60% 55% 55%; /* Rounded top and slightly flatter bottom */
    position: relative; /* Needed to position pseudo-elements relative to the balloon */
    /* margin: 50px auto; */
    /* margin-top: 10px; */
    margin-bottom: 110px;
    position: absolute;
    bottom: 200px;      /* Adjust vertically above the cake */
    right: 15px;        /* Adjust horizontally to the right */
    transform: rotate(15deg); /* Tilt the balloon for a natural angled look */
    z-index: 1; /* behind cake */
}

/* The balloon knot using a pseudo-element */
.balloon::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Position at the bottom center */
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #002f53; /* Match the dark color of the balloon's bottom */
}

/* The balloon string using another pseudo-element */
.balloon::after {
    content: '';
    position: absolute;
    bottom: -130px; /* Adjust length as needed */
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px; /* Very thin line */
    height: 130px;
    background-color: black;
}

/* balloon 2 */
.balloon-left {
    /* Balloon body styles */
    width: 110px;
    height: 140px;
    background: radial-gradient(circle at 40% 20%, #acd9fc 10%, #0090ff 50%, #002f53 90%); /* Use a gradient for depth */
    border-radius: 60% 60% 55% 55%; /* Rounded top and slightly flatter bottom */
    position: relative; /* Needed to position pseudo-elements relative to the balloon */
    /* margin: 50px auto; */
    /* margin-top: 10px; */
    margin-bottom: 160px;
    position: absolute;
    bottom: 200px;      /* Adjust vertically above the cake */
    left: 10px;        /* Adjust horizontally to the right */
    transform: rotate(-15deg); /* Tilt the balloon for a natural angled look */
    z-index: 1; /* behind cake */
}

/* The balloon knot using a pseudo-element */
.balloon-left::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Position at the bottom center */
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #002f53; /* Match the dark color of the balloon's bottom */
}

/* The balloon string using another pseudo-element */
.balloon-left::after {
    content: '';
    position: absolute;
    bottom: -180px; /* Adjust length as needed */
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px; /* Very thin line */
    height: 180px;
    background-color: black;
}
}